[submodule "Spoons/Layouts.spoon"]
	path = Spoons/Layouts.spoon
	url = https://github.com/DanEdens/Layouts.spoon.git
[submodule "data"]
	path = data
	url = https://github.com/DanEdens/DansDesktopLayouts
[submodule "Spoons/OmniLadle.spoon"]
	path = Spoons/OmniLadle.spoon
	url = https://github.com/MadnessEngineering/OmniLadle.spoon.git
